.container{
    position: sticky;
    top: 40px;
}

.user{
    display: flex;
    gap: 20px;
    align-items: center;
}
.userImage{
    border-radius: 50%;
    object-fit: cover;
}
.userDetail{
    display: flex;
    flex-direction: column;
}

.userName{
    font-weight: 500;
}
.userTitle{
    font-size: 12px;
    color: var(--textsoft);
}

.list{
 list-style: none;
}

.cat{
    font-weight: bold;
    font-size: 13px;
    color: var(--textsoft);
    margin: 10px 0;
}

.logout{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 5px 0;
    border-radius: 10px;
    gap: 10px;
    color: white;
    cursor: pointer;
    width: 100%;
    background:none;
    border: none;
  }
  .logout:hover{
    background-color: #2e374a;
  }